<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development</key>
	<dict>
		<key>SocketEndPoint</key>
		<string>http://dev.dentamatch.co:3000</string>
		<key>APIEndPoint</key>
		<string>http://dev.dentamatch.co/api/</string>
		<key>LoggingEnabled</key>
		<true/>
		<key>AnalyticsTrackingEnabled</key>
		<true/>
		<key>MixpanelToken</key>
		<string>baeda2003ca1585a7828ce1d02833836</string>
		<key>Flurry</key>
		<dict>
			<key>FlurryApplicationID</key>
			<string></string>
			<key>FlurryApplicationSecret</key>
			<string></string>
		</dict>
		<key>Facebook</key>
		<dict>
			<key>FacebookAppID</key>
			<string></string>
			<key>FacebookAppSecret</key>
			<string></string>
		</dict>
	</dict>
	<key>QA</key>
	<dict>
		<key>APIEndPoint</key>
		<string>https://qa.dentamatch.co/api/</string>
		<key>SocketEndPoint</key>
		<string>https://qanode.dentamatch.co:8443</string>
		<key>LoggingEnabled</key>
		<true/>
		<key>AnalyticsTrackingEnabled</key>
		<true/>
		<key>MixpanelToken</key>
		<string>baeda2003ca1585a7828ce1d02833836</string>
		<key>Flurry</key>
		<dict>
			<key>FlurryApplicationID</key>
			<string></string>
			<key>FlurryApplicationSecret</key>
			<string></string>
		</dict>
		<key>Facebook</key>
		<dict>
			<key>FacebookAppID</key>
			<string></string>
			<key>FacebookAppSecret</key>
			<string></string>
		</dict>
	</dict>
	<key>Staging</key>
	<dict>
		<key>APIEndPoint</key>
		<string>https://staging.dentamatch.co/api/</string>
		<key>SocketEndPoint</key>
		<string>https://staging.dentamatch.co:8443</string>
		<key>LoggingEnabled</key>
		<false/>
		<key>AnalyticsTrackingEnabled</key>
		<true/>
		<key>MixpanelToken</key>
		<string>3fd78d535c8e6d65ade83460a9272f66</string>
		<key>Flurry</key>
		<dict>
			<key>FlurryApplicationID</key>
			<string></string>
			<key>FlurryApplicationSecret</key>
			<string></string>
		</dict>
		<key>Facebook</key>
		<dict>
			<key>FacebookAppID</key>
			<string>840474532726958</string>
			<key>FacebookAppSecret</key>
			<string></string>
		</dict>
	</dict>
	<key>Production</key>
	<dict>
		<key>APIEndPoint</key>
		<string>https://production</string>
		<key>LoggingEnabled</key>
		<true/>
		<key>SocketEndPoint</key>
		<string>http://production.dentamatch.co:3000</string>
		<key>AnalyticsTrackingEnabled</key>
		<true/>
		<key>MixpanelToken</key>
		<string>3fd78d535c8e6d65ade83460a9272f66</string>
		<key>Flurry</key>
		<dict>
			<key>FlurryApplicationID</key>
			<string></string>
			<key>FlurryApplicationSecret</key>
			<string></string>
		</dict>
		<key>Facebook</key>
		<dict>
			<key>FacebookAppID</key>
			<string></string>
			<key>FacebookAppSecret</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
